@import 'vars';
@import 'font';




body{
    
        background-image: url(../img/bg-prueba2.png);
        
        background-size: cover;
        
        height: 100vh;
        
    
}

.headerPrincipal{

    

    .headerPrincipal__site-header.inicio{
        @include miBanner(home);
    }
    .headerPrincipal__site-inicio{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;

    }
    .contenedor{
        max-width: 1200px;
        margin-top: auto;
        margin-bottom: auto;
    }

    
    
}
.headerPrincipal__titulo{
        margin: 5%;
        
    }
    

    .iconos{
        width: 30rem;
        display: inline-block;
    }

    

    @media (max-width:780px){
        .headerPrincipal__site-header.inicio{
            background-image: url(../img/img-principal-t.svg);
            
            height: 100vh;
            background-position: right;
            margin: 0;
        }
        .headerPrincipal__barra{
            display: none;
        }
        .headerPrincipal__titulo{
            margin: 5%;
        }

    }
    @media (max-width:480px){
        .headerPrincipal__site-header.inicio{
            background-image: url(../img/img-principal-t.svg);
            
            height: 100vh;
            background-position: center center;
            margin: 0;
        }
        .headerPrincipal__barra{
            display: none;
        }
        .headerPrincipal__titulo{
            height: 40%;
            width: 100%;
            margin: 10%;
        }

    }

.bg-gral--modifier{
background-attachment: fixed;
}

/*procesos*/
.test-princ{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    .test-imagen{
        width: 100%;
        padding-left: 30%;
        &:hover{
            transform: scaleX(-1);
        }
    }
    .test-text{
    
        .centrar-texto{   
            font-family: $font-h3;
            font-size: 4rem;
            color: #ff8f4e;
           font-weight: 500;
        padding-left: 20px;}

        
     
        
        blockquote{
            font-size: 1.7rem;
        color:#71DC9A;
       
        text-align: justify;
        padding-right: 25px;
        border-radius: 2rem;
        &:hover{
            color: white;
        }
            position: relative;
            padding-left: 2rem;
            font-weight: 250px;
            font-family: $text-font;
        
        }
    }      
    
}
@media(max-width:780px){
    .test-princ{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 2rem;
         text-align: center;
            .test-imagen{
                display: none;} 
    .test-text{
                    h3{
                        font-family: $font-h3;
                        font-size: 1.2rem;
                        color: #ff8f4e;
                       font-weight: 100;
                    }
                    
                  
              
        blockquote{
            font-size: 1.2rem;
        color:#71DC9A;
        text-align:center;
        padding-right: 25px;
       
        
            position: relative;
            padding-left: 2rem;
            font-weight: 100px;
            font-family: $text-font;
        
        }
        
       
            
      }
    }
            
       
    }
        
.carrusel{
    
        h2{
    
            font-size: 3rem;
            font-family:fantasy;
            font-weight: lighter;
            color: #eee;
            text-align: center;
            margin-top: 50px;
        }
    
}


.segundaSeccion{
    
    h2{
    
        font-size: 3rem;
        font-family:fantasy;
        font-weight: lighter;
        color: #eee;
        text-align: center;
        margin: 50px 0;
    }

    h3{
        text-transform: uppercase;
        margin-top: 1.5rem;
        color: #F39C12;
    }
    
    .segundaSeccion__iconos-nosotros{
    
        display: flex;
        justify-content: space-between;
        flex-basis: calc(33.3% - 2rem);
        text-align: center;
        margin: 1.5rem;
        
    }
    


    @media(max-width:578px){
        .segundaSeccion__centrado{
            font-size: 1rem;
            font-family:fantasy;
            font-weight: lighter;
            color: #eee;
            text-align: start;
            margin-left: 5px;
            
        }
        .segundaSeccion__iconos-nosotros{
            width: 70%;
            display: grid;
            grid-template-columns: repeat(2 1fr);
            margin-top: 1.5rem;
        }
        
    
    }
        .segundaSeccion__iconos-nosotros{
            display: flex;
            justify-content: space-between;
            margin: 0% 10%;
        }
        .segundaSeccion__iconos{
            flex-basis: calc(33.3% - 1rem);
            text-align: center;
            .segundaSeccion__subtitulo{
                text-transform: uppercase;
                font-size: 2rem;
                padding-bottom: 01.5rem;
                }
        p{
            font-size: 1.7rem;
            padding-bottom: 01.5rem;
            line-height: 02.01rem;
        }
        
        
    }
    
    @media (max-width:778px){
        .segundaSeccion__centrado{
            font-size: 2.5rem;
            font-family:fantasy;
            font-weight: lighter;
            color: #eee;
           text-align: start;
           margin-left: 80px;
        }
        .segundaSeccion__iconos-nosotros{
            width: 70%;
            display: grid;
            grid-template-columns: repeat(2 1fr);
            margin-top: 1.5rem;
        }
        
    }
    
}

.carrusel{
    .carousel-inner{
         h5{
        font-size: 3rem;
        font-family: cursive;
        color: #F39C12;
        
    }
        p{
            font: $text-font;
            color: #fd1612;
            margin-bottom: 5rem;
        }
    }
    
   
}

.contacto{
    .contacto__contacto-index{
        background-image: url(../img/contacbanner.svg);
        background-position: center center;
        background-size: cover;
        box-shadow: 7px 13px 37px #eee;
        border-radius: 15px 15px 15px 15px;
        height: 30vh;
        margin: 3rem 3rem;
        padding-left: 10rem;
        padding-top: 6rem;
    
    }
    .contacto__btn-contacto {
        
        
        background-image: linear-gradient(to right, #abbaab 0%, #ffffff  51%, #abbaab  100%);
        
           margin: auto;
           margin-left: -8%;
           margin: -1%;

           padding: 8px 25px;
           text-align: center;
           text-transform: uppercase;
           transition: 0.5s;
           background-size: 200% auto;
           color: white;            
           box-shadow: 0 0 20px #eee;
           border-radius: 10px;
           display: block;
         

         &:hover {
           background-position: right center; /* change the direction of the change here */
           color: #fff;
           text-decoration: none;
         }
        
        
        a{
        text-decoration: none;
        font-size: 2.5rem;
        margin: 15px;
        font-family: $font-blog;
        
         
    
    }
}}
    @media (max-width:780px){
        .contacto{
        .contacto__contacto-index{
            
            
            background-position: center center;
            margin: 0;
        }
    }
       
    
    }
    @media (max-width:578px){
       
    .contacto{   
        .contacto__contacto-index{
            background: none;
        
        button{
            border-radius: 10px 10px 10px 10px;
            padding-right: 30px;}
        a{
            text-decoration: none;
            font-size: 2.5rem;
          
           }
        
            
        }
        .contacto__btn-contacto{
            margin-left: -50px;
        }
    
    }
       
    }
       
        
        
 



