
@import 'font';
$text-font:'Oxygen', sans-serif;
$principal-color: rgb(168, 206, 33);
$family:  'Roboto', sans-serif;
$color-litleT:white;
$font-subtitle: 'Anton', sans-serif;
$font-h3:'Jomhuria', cursive;
$font-blog:'Fredoka One', cursive;
$titulo-ex:'Shadows Into Light', cursive;
$ux:'Shadows Into Light', cursive;

@mixin subtitle {
    font-size: 2rem;
    padding: 2.5rem 1.5rem;
    margin: 0rem 0;
    text-align: center;
    margin-top: 15px;
    font-family: $font-subtitle;
    letter-spacing: 2px;
}

@mixin text {
   font-family: $text-font;
   font-weight: 400;
   text-align: justify;
   font-size: 1.5rem;
   color: whitesmoke;
   line-height: 20px;
   
}

@mixin textproceso {
    color: white;
    padding-left: 20px;
    
}


/*banner principal y blog*/

@mixin miBanner ($imagen){
    @if $imagen == home{
        background-image: url(../img/img-principal.svg);
       background-repeat: no-repeat;
        height: 100vh;
        background-position:right;
        opacity: 80%;
    }
    @else if $imagen == imgBlog{
        background-image: url(../img/bg-blog5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center center;
    }

    @else  {
    background-image: url(../img/headerblog2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center center;
    }
    
}

/*maps*/

$weight:('light':300,'regular':400,'medium':500,'bolt':700,'black':900);
$sizes:('xs':.5rem,'s':1rem,'m':1.5rem,'l':2rem,'xl':3rem);



